@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.inText{
  width: 55%;
  outline: none;
  border-color: transparent;
  background-color: #F0EEF0;
  border-radius: 7px;
  padding: 1rem;
  transition: 0.5s;
}
.inText:focus{
  border-color: #6c5ce7;
  transition: 0.5s;
}
.box_Todo{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputElement{
  font-size: 1.7rem;
  margin-top: 3rem;
}
input[type=button]{
  padding: 1rem 3rem 1rem 3rem;
  margin: 25px 0px 0px 20px;
  outline: none;
  border-color: transparent;
  cursor: pointer;
  color: white;
  transition: 0.4s;
  font-family: 'Roboto', sans-serif;
}
input[type=button]:hover{
    transform: scale(1.1);
    transition: 0.4s;
    z-index: 999;
}

input[type=button]:nth-child(1){
  background-color: #6c5ce7;
}

input[type=button]:nth-child(2){
  background-color: #2d3436;
}
input[type=button]:nth-child(3){
  background-color: #f9ca24;
}
.buttons{
  display: flex;
  justify-content: space-around;
}
li{
  list-style-type: none;
  background-color: rgb(104, 164, 243);
  padding: 10px;
  border-radius: 10px;
  color: azure;
  font-size: 1.8rem;
}
.elementsTodo{
  display: inline-block;
  width: 90%;
}

