.botao{
background-color: red;
color: white;
font-weight: bold;
border-radius: 4px;
border: 2px solid black;
padding: 20px 20px;
}
.square{
  background-color: white;
  padding: 30px;
}
.legend{
  color: black;
  font-weight: bold;
}